html, body
{
  width: auto;
  height: auto;
  border: 0;
}

#notif-popup
{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  background-color: rgba(207, 0, 15, 1);
  text-align: center;
  display: flex;
  z-index: 9999;
  position: absolute;
  bottom: 5%;
  left: 3%;
  transition-property: width, height, font-size;
  transition-duration: 0.5s;
}

#notif-popup:hover
{
  width: 42px;
  height: 42px;
  font-size: 27px;
}

#notif-popup-text
{
  margin: auto;
}

#action_close
{
  color: white;
  text-align: right;
}

#action_reduce
{
  color: white;
  text-align: right;
}

#notif
{
  width: 400px;
  height: 100px;
  visibility: hidden;
  z-index: 9999;
  position: absolute;
}

#notif:enabled
{
  visibility: visible;
}

#notif-titre
{
  border-radius: 4px 4px 0px 0px;
  background-color: rgba(207, 0, 15, 1);
  font-weight: bold;
  text-align: center;
}

#notif-texte
{
  background-color: rgba(217, 30, 24, 0.9);
  border-radius: 0px 0px 4px 4px;
}
