@media screen and (max-width:1280px)
{
	#titre img.sigrand{
		visibility:hidden;
	}
	#titre img.sipetit{
		visibility:visible;
	}

}

html
{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
	box-sizing: border-box;
	margin:0;
	padding:0;
}

a
{
	text-decoration: none;
	background-color: transparent;
}

ul
{
	list-style-type: square;
}

a:active, a:hover
{
	outline: 0;
}

p
{
	text-align:justify;
	margin-bottom: 30px;
}

img
{
	border: 0;
}

#titre, .bar, .sources, nav div, section, footer p
{
	display:block;
	max-width: 1250px;
	min-width: 720px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

header
{
	background-image:linear-gradient(#e53935, #fafafa);
	padding-top:20px;
	margin-bottom:150px;
	z-index:0;
}

section
{
	background-color:#fafafa;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

footer
{
	margin-top: 20px;
	padding-top: 10px;
	background-color: #e53935;
	font-size:11px;
}

.footer-haut a
{
	color:white;
}

.footer-haut a:hover
{
	text-decoration: underline;
	color:white;
}

.footer-bas
{
	text-align:center;
	background-color:#37474F;
	color:#ECEFF1;
	padding-top:20px;
	padding-bottom:20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-top:20px;
}

nav
{
	background-color:#455A64;
	width:100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-top: 2px #f44336 solid;
}

#topbar
{
	margin-bottom:5px;
}

#titre
{
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

#titre img
{
	position: absolute;
	float:left;
	height: 67px;
	z-index:1;

}

.top
{
	max-width: 1250px;
	width: 100%;
}

.centrer
{
	text-align:center;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
}


h3
{
	background-color:#F44336;
	color:white;
	padding:20px;
	border-radius:2px;
}

h4
{
	color:white;
	padding:10px;
	border-left: 3px solid #F44336;
}

h5
{
	color:#455A64;
}

.vide:before, .vide:after
{
  content: " ";
  display: table;
}

.vide:after
{
  clear: both;
}

.remonter
{
	position: fixed;
	padding:16px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: #757575;
	border-radius: 50%;
	bottom: 50;
	right:50;
	background-position: center;
	transition:all 0.2s ease-out;
	z-index: 999;
}

.remonter:hover
{
	background-color: white;
}

.logo_iut img
{
	width:auto;
	height:150px;
	float:right;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.2s ease-out;
}

.logo_iut img:hover
{
	box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
